<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!-- ThreadContext: %x = stack, %X = map-->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%10logger{1} [%-5level]} %X %msg %throwable{50}%n"/>
    </Console>
  </appenders>
  <loggers>
    <root level="INFO">
      <appender-ref ref="Console"/>
    </root>
    <!--<logger name= "co.paralleluniverse.galaxy.core.AbstractCluster" level="INFO"/>-->
  </loggers>
</configuration>
